resources
node_modules
docs
public

content/*/events/*
!content/*/events/_index.md

# Yarn Berry, Zero-Installs mode
# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
