<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Blockchain et societe website" />
    <meta name="author" content="Guillaume Nicolas" />
    <meta name="theme-color" content="#414344" />

    <title>Blockchain et société</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/css/swiper.min.css"
    />

    <!-- Custom fonts for this template -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet" />

    <!-- generated favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/img/favicons/safari-pinned-tab.svg"
      color="#000000"
    />
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta
      name="msapplication-config"
      content="/img/favicons/browserconfig.xml"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-118758486-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-118758486-1");
    </script>
  </head>

  <body id="page-top">
    <header id="particles" class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <span class="logo">
              <img src="img/meetup_logo.svg" alt="" />
            </span>
            <h4>Bienvenue sur le site de</h4>
            <h1 class="text-uppercase">
              L'association
              <br />
              <strong>Blockchain et Société</strong>
            </h1>
            <hr />
          </div>
          <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#events"
              >Nos évènements</a
            >
          </div>
        </div>
      </div>
    </header>

    <a href="#" class="gotop">
      <i class="fas fa-angle-double-up"></i>
    </a>

    {{ partial "home-events.html" . }}
    {{ partial "home-team.html" . }}
    {{ partial "home-partners.html" . }}
    {{ partial "home-donation.html" . }}
    {{ partial "home-networks.html" . }}
    {{ partial "home-about.html" . }}

    <footer class="container-fluid">
      <div class="mx-auto text-center">
        Homemade with
        <span class="fa fa-heart mx-1"></span>
        <a
          href="https://github.com/BlockchainEtSociete/blockchainsociete.org"
          target="_blank"
          rel="noopener noreferrer"
        >
          by ourselves
        </a>
      </div>
      <hr />
      <div class="mx-auto text-center">
        Blockchain et Société,
        <a
          href="https://www.journal-officiel.gouv.fr/associations/detail-annonce/associations_b/20180008/763"
          target="_blank"
          rel="noopener noreferrer"
          >association loi 1901</a
        >
      </div>
      <div class="mx-auto text-center mt-1">
        16 rue Maurice Daniel, 44200 Nantes
      </div>
      <div class="mx-auto text-center mt-1">
        Directeur de la publication : Damien Lecan
      </div>
      <div class="mx-auto text-center mt-1">
        Site hébergé par Netlify, Inc., San Francisco, California
      </div>
    </footer>

    <div class="alert-container">
      <div class="alert alert-success" role="alert"></div>
    </div>

    <!-- Boostrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/js/swiper.min.js"></script>

    <!-- ClipboardJS -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="./js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script type="text/javascript">
      particlesJS.load("particles", "./assets/particles.json", function () {
        console.log("callback - particles.js config loaded");
      });
    </script>
  </body>
</html>
