<div class="swiper-slide event">
    <div class="event-body">
        {{- if .image }}
        <a href="{{ .url }}" rel="noopener noreferrer" target="_blank">
            <img src="{{ .image }}" alt="event presentation image" />
        </a>
        {{- end }}
        <h3>{{ .name }}</h3>
        <div class="event-date-time">
            <p class="occured-label">déroulé le</p>
            <p class="event-date">{{ .date }}</p>
            <p class="event-time">{{ .time }}</p>
        </div>
        <p class="event-venue">{{ .venue }}</p>
    </div>
    <a class="event-more" href="{{ .url }}" rel="noopener noreferrer" target="_blank">plus d'info</a>
</div>