<section class="bg-primary" id="team">
  <div class="container">
    <div class="row section-head">
      <div class="col text-center section-title">
        <h2 class="text-white">
          <i class="fas fa-link"></i>
          Les membres de l'association
        </h2>
        <hr class="light my-4" />
      </div>
    </div>

    <div class="row team-list">
      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/dle.jpg" />
        <div class="card-body">
          <p class="card-text">Damien LECAN</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/gni.jpg" />
        <div class="card-body">
          <p class="card-text">Guillaume NICOLAS</p>
        </div>
      </div>

      <!-- <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/llo.jpg" />
        <div class="card-body">
          <p class="card-text">Laurent LOURENÇO</p>
        </div>
      </div> -->
      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/ala.jpg" />
        <div class="card-body">
          <p class="card-text">Adrien LASSELLE</p>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top rounded-circle"
          src="./img/team/bpr.jpg"
        />
        <div class="card-body">
          <p class="card-text">Bertrand Presles</p>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/nla.jpg" />
        <div class="card-body">
          <p class="card-text">Nicolas LAUNAY</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/rle.jpg" />
        <div class="card-body">
          <p class="card-text">Rachel LE TROTTER</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top rounded-circle" src="./img/team/lme.jpg" />
        <div class="card-body">
          <p class="card-text">Laure MERLIN</p>
        </div>
      </div>
    </div>
  </div>
</section>
