<section id="networks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center section-title">
        <h2 class="section-heading">
          <i class="fas fa-link"></i>
          Retrouvez nous sur
        </h2>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://join.slack.com/t/meetup-blockchain/shared_invite/zt-3u8hgq75-hkvVna9GdMnRwf7Pq4tqFw"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-slack text-primary mb-3 icons"></i>
            <h3 class="mb-3">
              <strong>Slack</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://twitter.com/Blockchain44"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-twitter text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Twitter</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://github.com/BlockchainEtSociete"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-github text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Github</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://www.meetup.com/Blockchain-Societe-Nantes"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-meetup text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Meetup</strong>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://www.youtube.com/channel/UCLxvA3g5oqdItCMvO6Scfhg"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-youtube text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Youtube</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="mailto:contact@blockchainsociete.org"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fas fa-4x fa-envelope text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Email</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://www.facebook.com/groups/822513524759506/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-facebook-f text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Facebook</strong>
            </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="network-box mt-5 mx-auto">
          <a
            href="https://www.linkedin.com/company/blockchain-et-societe"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-4x fa-linkedin text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">
              <strong>Linkedin</strong>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
