<section class="bg-dark" id="partners">
    <div class="container">
      <div class="row section-head">
        <div class="col text-center section-title">
          <h2 class="text-white">
            <i class="fas fa-link"></i>
            Ils nous soutiennent</h2>
          <hr class="light my-4">
        </div>
      </div>

      <div class="row partner-list">

        <div class="card novapuls">
          <a href="https://novapuls.fr/" target="_blank" rel="noopener noreferrer">
            <img class="card-img-top" src="./img/partner/novapuls.png">
            <div class="overlay rounded-circle">
              <p class="text">Novapuls</p>
            </div>
          </a>
        </div>

        <div class="card pld">
          <a href="https://www.paysdelaloire.fr/les-aides/pays-de-la-loire-developpement" target="_blank" rel="noopener noreferrer">
            <img class="card-img-top" src="./img/partner/pld.png">
            <div class="overlay rounded-circle">
              <p class="text">Pays de la Loire Dévelopment</p>
            </div>
          </a>
        </div>
    </div>
  </section>