<section class="bg" id="donation">
  <div class="container">
    <div class="row section-head">
      <div class="col text-center section-title">
        <h3 class="text-white">
          <i class="fas fa-link"></i>
          Vous pouvez également nous soutenir
        </h3>
      </div>
    </div>
  </div>

  <div class="donation-list">
    <img
      src="./img/donations/g1.png"
      data-clipboard-text="9zYLSQFo6rTWweSBmPGQvPxmtCo3xpYw7qXmV9ie9omw"
    />
    <img
      src="./img/donations/ark.png"
      data-clipboard-text="ASSRvwixbSmMGjWuJYnEtAdEiErM7acTZR"
    />
    <img
      src="./img/donations/eth.png"
      data-clipboard-text="0xe5D08beA03e776B54508CF96db99745Cd464140D"
    />
    <img
      src="./img/donations/btc.png"
      data-clipboard-text="3E8kKYXZEuwnHmWz9VQhksFN5f65WQ5PWp"
    />
    <img src="./img/donations/fiat.png" data-clipboard-text="bit.ly/don-bets" />
  </div>
</section>
