  <section id="about">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-12 text-center section-title">
          <h2>
            <i class="fas fa-link"></i> Notre vision</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <p>
          Notre association a pour objet de faire découvrir la thématique de la blockchain et des Distributed Ledger Technologies au
          grand public comme aux technophiles et de rassembler tous les acteurs intéressés pour créer une dynamique Nantaise
          sur le sujet.
        </p>
        <p>
          A ce titre, nous organisons des meetups Blockchain et Société composés de deux tracks principales :
        </p>
      </div>
      <div class="row text-center tracks">
        <div class="col-lg-6">
          <div class="track tech shadow-lg p-3 bg-white rounded">
            <div class="head">
              <h3>Technologies</h3>
            </div>
            <hr>
            <p class="body">
              Durant ces sessions, nous parlons des DLTs et de leurs cas d'usage, avec des conférences parfois vulgarisées, parfois techniques
              et souvent les deux à la fois !
              <br/> Nous organisons également des ateliers pour travailler et réfléchir ensemble sur les innombrables possibilités
              qu'offrent les technologies décentralisées.
            </p>
          </div>
        </div>

        <div class="col-lg-6 ">
          <div class="track crypto shadow-lg p-3 bg-white rounded">
            <div class="head">
              <i class="fab fa-bitcoin"></i>
              <h3>Cryptomonnaies</h3>
            </div>
            <hr>
            <p class="body">
              Ces sessions ont pour objectif de réunir les cryptomaniacs Nantais afin d'échanger sur l'actualité, les bons plans et les
              techniques de trading.
              <br/> Nous avons également mis en place un
              <a href="https://www.cryptocompare.com/portfolio-public/?id=340348" target="_blank" rel="noopener noreferrer" class="transparent-link">portefeuille d'investissement</a> commun 100 % virtuel, que nous gérons de semaine en semaine.
              <br/>Régulièrement, nous permettons aux néophytes de correctement s'intégrer en reprenant les bases.
              <br/>
              <a href="https://www.cryptocompare.com/portfolio-public/?id=340348" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-2x wallet-icon" data-toggle="tooltip" title="Lien vers le portefeuille virtuel">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-wallet fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
  </section>
