<footer class="container p-6 mx-auto flex justify-between items-center">
  <div class="flex flex-row flex-wrap gap-1 font-light text-xs">
    <!-- {{ if (isset .Site.Params "copyright") }}
    {{ .Site.Params.copyright }}
    {{ else }}
    {{ dateFormat "2006" now }} © {{ .Site.Title }}
    {{ end }} -->
    <span>{{ i18n "footerLegal" }}</span>
    <span class="font-extralight text-gray-600"
      >{{ i18n "footerAddress" }}</span
    >
    <span class="font-extralight text-gray-600"
      >{{ i18n "footerPublication" }}</span
    >
    <span class="font-extralight text-gray-600">{{ i18n "footerHost" }}</span>
  </div>
  <span
    onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
    class="p-1 cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 15l-6 -6l-6 6h12" />
    </svg>
  </span>
</footer>
