{{ if $.Site.Params.enableSearch }} 
  {{- partial "search-ui.html" . -}} 
{{ end }}

{{ template "goat_counter.html" . }}
{{ template "_internal/google_analytics_async.html" . }} 

{{ if ge (len $.Site.Languages) 3 }}
<script>
  const languageMenuButton = document.querySelector(".language-switcher");
  const languageDropdown = document.querySelector(".language-dropdown");
  languageMenuButton.addEventListener("click", (evt) => {
    evt.preventDefault();
    if (languageDropdown.classList.contains("hidden")) {
      languageDropdown.classList.remove("hidden");
      languageDropdown.classList.add("flex");
    } else {
      languageDropdown.classList.add("hidden");
      languageDropdown.classList.remove("flex");
    }
  });
</script>
{{ end }} 


{{ if $.Site.Params.darkModeToggle }}
<script>
  // On page load or when changing themes
  const darkmodeSwitch = document.querySelector(".toggle-dark-mode");
  function toggleDarkMode() {
    const darkModeOffIcon = document.querySelector(".dark-mode-off");
    const darkModeOnIcon = document.querySelector(".dark-mode-on");
    if (document.documentElement.classList.contains("dark")) {
      document.documentElement.classList.remove("dark");
      darkmodeSwitch.checked = false;
      localStorage.setItem("darkmode", "light");
    } else {
      document.documentElement.classList.add("dark");
      darkmodeSwitch.checked = true;
      localStorage.setItem("darkmode", "dark");
    }
    darkModeOnIcon.classList.toggle("text-yellow-500");
    darkModeOffIcon.classList.toggle("text-yellow-500");
  }
  if (darkmodeSwitch) {
    darkmodeSwitch.addEventListener("click", toggleDarkMode);
  }

  const isDark = localStorage.getItem("darkmode");
  if (isDark && isDark === "dark") {
    toggleDarkMode();
  }
</script>
{{ end }}



<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script type="text/javascript">
  const tagId = "particles";
  if (!!document.getElementById(tagId)) {
    particlesJS.load(tagId, "/assets/particles.json", function () {
      console.log("callback - particles.js config loaded");
    });
  }
</script>
