<section id="events">
  <div class="py-12 flex flex-col items-center justify-center gap-8">
    <div class="flex flex-col items-center">
      {{ partial "components/section-title" (dict "title" (i18n
      "homeEventsTitle") "anchor" "events" ) }}
      <div class="rounded bg-black-900 dark:bg-white h-2 w-16 mt-3"></div>
    </div>
    <div class="text-lg text-normal text-center px-3 max-w-4xl">
      {{ i18n "homeEventsDescription" }}
    </div>
    <div
      class="flex flex-row flex-wrap items-center justify-center gap-8 w-full"
    >
      {{ range first 4 ( where .Site.RegularPages.ByDate.Reverse "Type" "events"
      ) }} {{ partial "components/event-card.html" . }} {{ end }}
    </div>
    <a href="events">
      {{ partial "components/button" (dict "label" (i18n "homeEventsAllBtn") )
      }}
    </a>
  </div>
</section>
