<section id="team">
  <div
    class="
      container
      px-6
      py-12
      mx-auto
      max-w-4xl
      flex flex-col
      gap-8
      items-center
      justify-center
    "
  >
    <div class="flex flex-col items-center">
      <div class="text-4xl font-extrabold mb-3">{{ i18n "homeTeamTitle" }}</div>
      <div class="rounded bg-black-900 dark:bg-white h-2 w-16"></div>
    </div>
    <div class="text-lg text-normal text-center mb-3">
      {{ i18n "homeTeamDescription"}}
    </div>
    <div class="flex flex-row flex-wrap gap-11 justify-center">
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/dle.jpg" class="max-w-xxs rounded-full mb-2" />
        Damien LECAN
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/gni.jpg" class="max-w-xxs rounded-full mb-2" />
        Guillaume NICOLAS
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/ala.jpg" class="max-w-xxs rounded-full mb-2" />
        Adrien LASSELLE
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/lme.jpg" class="max-w-xxs rounded-full mb-2" />
        Laure MERLIN
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/rle.jpg" class="max-w-xxs rounded-full mb-2" />
        Rachel LE TROTTER
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/images/team/bpr.jpg" class="max-w-xxs rounded-full mb-2" />
        Bertrand PRESLES
      </div>
    </div>
  </div>
</section>
