{{ define "main" }}

<div
  class="container mx-auto px-10 pt-20 pb-3 gap-10 lg:gap-16 flex flex-col items-center justify-center"
>
  <div
    class="max-w-screen-lg mx-auto grid md:grid-cols-2 items-center justify-center"
  >
    <div class="text-5xl font-black">{{ i18n "eventsTitle" }}</div>
    <div class="text-lg">{{ i18n "eventsDescription" }}</div>
  </div>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse 9 }}
  <div class="flex flex-row flex-wrap gap-6 justify-center">
    {{ range $paginator.Pages }}
      {{ partial "components/event-card.html" . }} 
    {{ end }}
  </div>

  {{- partial "pagination.html" . -}}
</div>

{{ end }}
