{{ define "main" }}

<div
  class="
    container
    mx-auto
    px-10
    py-20
    gap-10
    lg:gap-16
    flex flex-col
    items-center
    justify-center
  "
>
  <div
    class="
      max-w-screen-lg
      mx-auto
      grid
      md:grid-cols-2
      items-center
      justify-center
    "
  >
    <div class="text-5xl font-black">{{ .Site.Params.pages.events.title }}</div>
    <div class="text-lg">{{ .Site.Params.pages.events.subtitle }}</div>
  </div>

  <div class="flex flex-row flex-wrap gap-6 justify-center">
    {{ range .Site.Data.events }} {{ partial "components/event-card.html" . }}
    {{ end }}
  </div>
</div>

{{ end }}
